[Unit]
Description=Start Fohseriet Ser Dig-monitor
After=multi-user.target

[Service]
Type=simple
Restart=always
RestartSec=30
Environment=PYTHONUNBUFFERED=TRUE
ExecStart=/bin/python3 /opt/mattermost_bots/mattermost-bots/f24/fohseriet_ser_dig.py

[Install]
WantedBy=multi-user.target
