[Unit]
Description=Start Fysiksektionen-bot
After=multi-user.target

[Service]
Type=simple
Restart=always
Environment=PYTHONUNBUFFERED=TRUE
ExecStart=/bin/python3 /opt/mattermost_bots/mattermost-bots/fysiksektionen/main.py

[Install]
WantedBy=multi-user.target
